<a href="https://colab.research.google.com/github/oscarmvito2/CienciaDatos/blob/main/ConexionDB_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conectarse a una fuente de datos JSON**
El archivo Json se descarga de la liga:
#https://datos.gob.mx/busca/dataset/estado-que-muestra-la-situacion-financiera-anual-del-instituto

In [ ]:
import pandas as pd
#https://datos.gob.mx/busca/dataset/estado-que-muestra-la-situacion-financiera-anual-del-instituto
ruta_archivo_json2 = 'estadosdesituacionfinancierajson.json'
json_df = pd.read_json(ruta_archivo_json2, orient='records')
print(json_df)

      Año  Orden                                    Concepto   Saldo
0    2021      1                                      Bancos       1
1    2021      2           Inversiones en Valores Temporales   87785
2    2021      3  Derechos a Recibir Efectivo o Equivalentes       0
3    2021      4       Derechos a Recibir Bienes o Servicios       0
4    2021      5                Total de  Activo  Circulante   87786
..    ...    ...                                         ...     ...
307  2011     24               Total de Pasivo No Circulante  662415
308  2011     25                           TOTAL DEL  PASIVO  862487
309  2011     26            Resultado Integral del Ejercicio      -5
310  2011     27                            Total Patrimonio      -5
311  2011     28              TOTAL DEL  PASIVO Y PATRIMONIO  862482

[312 rows x 4 columns]

**Para obtener los tipos de datos de todas las columnas del DataFrame**

In [ ]:
json_df.dtypes

Año          int64
Orden        int64
Concepto    object
Saldo        int64
dtype: object

**En la siguiente seccción vemos como obtener el tipo de dato de una columna**

In [ ]:
json_df['Saldo'].dtype

dtype('int64')

**Conectarse a una BD sqlite**

Nos conectamos a la BD para crear una tabla llamada USERS, una vez creada le insertamos registros

In [ ]:
import sqlite3
import os
db = os.path.join(os.getcwd(),'Prueba.db3')
con = sqlite3.connect(db)
cur = con.cursor()
cur.execute('''CREATE TABLE Users (nombre VARCHAR(128),edad INTEGER)''')
con.commit()
cur.execute('''INSERT INTO Users (NOMBRE, EDAD) VALUES('RAUL',10)''')
cur.execute('''INSERT INTO Users (NOMBRE, EDAD) VALUES('LISA',8)''')
cur.execute('''INSERT INTO Users (NOMBRE, EDAD) VALUES('ALBERTO',12)''')
cur.execute('''INSERT INTO Users (NOMBRE, EDAD) VALUES('AILIN',12)''')
con.commit()
cur.close()
con.close()

Realizamos la consulta de la tabla y los registros creados

In [ ]:
import sqlite3
import os
db = os.path.join(os.getcwd(),'Prueba.db3')
conn = sqlite3.connect(db)
db_df = pd.read_sql('SELECT * FROM users', conn)
db_df

    nombre  edad
0     RAUL    10
1     LISA     8
2  ALBERTO    12
3    AILIN    12

Consultamos el tipo de datos de cada columna del DataFrame

In [ ]:

db_df.dtypes

nombre    object
edad       int64
dtype: object